[submodule "external/radiotap-library"]
	path = external/radiotap-library
	url = https://github.com/radiotap/radiotap-library.git
[submodule "external/zfec"]
	path = external/zfec
	url = https://github.com/tahoe-lafs/zfec.git
[submodule "external/yyjson"]
	path = external/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "external/libyaml"]
	path = external/libyaml
	url = https://github.com/yaml/libyaml.git
